<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="icon" href="/static/images/icons/icons8-quizlet-120.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/user_dashboard.css"/>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid justify-content-center border-info border-bottom border-opacity-25 border-1">
            <a class="navbar-brand d-flex align-items-center"  href="/">
                <img src="/static/images/icons/icons8-quizlet-120.svg" alt="Quiz-Master-Logo" width="40" height="40" class="d-inline-block  align-text-bottom">
                
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/user" class="nav-link">Home</a></li>
                    <li><a href="/user/scores" class="nav-link active">Scores</a></li>
                    <li><a href="/user/summary" class="nav-link ">Summary</a></li>
                </ul>

                <div class="container-fluid d-flex justify-content-center">
                    <span class="navbar-text text-info fw-bold">
                      User Dashboard
                    </span>
                </div>
    
                <form action="/user/search/scores" id="search-scores" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" name="query_str" id="search_str"  value="{{search_val}}" class="form-control" placeholder="⌕  Quiz, Attempt Date..." aria-label="Search">
                </form>
                
                <ul class="navbar-nav d-flex flex-wrap align-items-center justify-content-center ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <img src="/static/images/icons/icons8-admin-1.png" 
                            alt="Profile" class="rounded-circle" width="32" height="32"> 
                       
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><span class="dropdown-item-text">Welcome,</span></li>
                        <li><span class="dropdown-item-text text-info">{{ u_name }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>    
                    </ul>
                </li>
                </ul>
            </div>
          </div>
    </nav>

    <!-- Score Table -->
    <div class="container mt-4"> 
        {% if scores|length < 1 %}
        <div class="d-flex justify-content-center align-items-center mt-5">      
            {% if search_flag == 1 %}
            <img src="/static/images/placeholder_img/undraw_faq_h01d.svg" alt="No search result found" width="400px" height="460px" class="p-4"/>
        </div>
        <h5 class="text-white text-center">No Search Result Found.</h5>
            {% else %}
            <img src="/static/images/placeholder_img/undraw_file-search_cbur.svg" alt="No score available right now" width="420px" height="460px" class="p-4"/>
        </div>
        <h5 class="text-white text-center">No Score Available Yet.</h5>
            {% endif %}
    </div>
        {% else %}
        <div class="row justify-content-center">  
            <div class="col">
                <div class="card border border-primary-subtle shadow bg-body-tertiary rounded">
                    <div class="card-header">
                        <h3 style="color:rgb(18, 119, 97);font-weight: 650; text-align: center;">Quiz Scores</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table allign-middle table-hover border-primary">
                                <thead>
                                    <tr>
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">Serial no.</th>
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">Quiz ID</th>          
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">Attempt Date</th>
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">Correctly Answered</th>
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">Time Taken</th>
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">Score</th>
                                        <th style="color:rgb(9, 3, 97);  text-align: center;">View Details</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                {% for s in scores %}
                                    <tr>
                                        <td style="color: rgb(40, 2, 110); font-weight: 500; text-align: center;">
                                            {{ loop.index }}
                                        </td>
                                        <td class="click text-center">
                                            <a style="color: rgb(107, 5, 196); font-weight: 700; text-align: center;" data-bs-toggle="modal" data-bs-target="#DetailsAttemptModal{{s['id']}}"> {{ s['quiz_id'] }}      
                                            </a>
                                        </td>
                                        <td style="color: rgb(4, 56, 93); font-weight: 700; text-align: center;">
                                            {{ timestamp[s['id']][0] }}
                                        </td>
                                        <td style="color: rgb(5, 71, 118); font-weight: 600; text-align: center;">
                                            {{ s['answered_correct'] }}
                                        </td>
                                        <td style="color: rgb(4, 122, 59); font-weight: 600; text-align: center;">
                                            {{ s["time_taken"] }}
                                        </td>
                                        <td style="text-align: center; font-weight: 600;">          
                                            {{ s['total_scored']}} / {{quiz_marks[s['id']]}}
                                        </td>
                                        <td style="text-align: center;">
                                            <img src="/static/images/icons/icons8-view-96.png" alt="view quiz attempt {{ s['id'] }}" height="40px" width="40px" data-bs-toggle="modal" data-bs-target="#DetailsAttemptModal{{s['id']}}">
                                        </td>
                                    </tr>
                                    
                                    <!-- Details Quiz Attempt Modal -->
                                    <div class="modal fade" id="DetailsAttemptModal{{s['id']}}" tabindex="-1" aria-labelledby="QuizAttemptModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content mx-2">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="QuizAttemptModalLabel">Attempt Details</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body mx-5">
                                                    <div class="row align-items-center mx-5 mb-3">
                                                        <label for="floatingInput1" class="text-secondary text-center"> Serial no. :</label> 
                                                        <input type="text" class="form-control text-center" id="floatingInput1"  value="{{loop.index}}" disabled>
                                                    </div>
        
                                                    <div class="row align-items-center mb-3 mx-3">              
                                                        <label for="floatingInput2" class="text-secondary">Quiz on Subject :</label>                                                  
                                                        <input type="text" class="form-control text-center" id="floatingInput2"  value="{{sub_name[s['id']]}}" disabled>   
                                                    </div>

                                                    <div class="row align-items-center mb-4 mx-3">
                                                        <label for="floatingInput3" class="text-secondary">Quiz on Chapter :</label>
                                                        <input type="text" class="form-control text-center" id="floatingInput3"  value="{{chap_name[s['id']]}}" disabled>
                                                    </div>

                                                    <div class="row mb-3 mx-5">
                                                        <label for="floatingInput4" class="text-secondary">Questions Attempted :</label>
                                                        <input type="text" class="form-control" id="floatingInput4"  value="{{s['question_attempted']}} / {{no_questions[s['id']]}}" disabled>
                                                    </div>
                                                    <div class="row mb-3 mx-5">
                                                        <label for="floatingInput4.5" class="text-secondary">Correctly Answered :</label>
                                                        <input type="text" class="form-control" id="floatingInput4.5"  value="{{s['answered_correct']}} / {{s['question_attempted']}}" disabled>
                                                    </div>
                                                    <div class="row mb-4 mx-5">                                           
                                                        <label for="floatingInput5" class="text-secondary">Scored :</label>
                                                        <input type="text" class="form-control" id="floatingInput5"  value="{{s['total_scored']}} / {{quiz_marks[s['id']]}}" disabled>
                                                    </div>

                                                    <div class="row mx-5 align-items-center mb-3 ">
                                                        <label for="floatingInput6" class="text-secondary">Attempt Timestamp :</label>
                                                        <input type="text" class="form-control text-center" id="floatingInput6" value="{{ timestamp[s['id']][0] }} | {{ timestamp[s['id']][1] }}" disabled>
                                                    </div>
                                                   
                                                    <div class="row d-flex justify-content-center mb-2 mx-5">
                                                        <label for="floatingInput7" class="text-secondary">Time Taken :</label>
                                                        <input type="text" class="form-control text-center" id="floatingInput7"  value="{{s['time_taken']}}" disabled>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                </tbody>
                            </table>         
                        </div>           
                    </div>
                </div>
            </div>  
        </div>        
    </div>
        {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // If the search field is cleared then reloads the page with all Scores
         document.getElementById("search_str").addEventListener("input", function() {
             if (this.value === "") {
                 document.getElementById("search-scores").submit();
             }
         });
     </script>

</body>
</html>